body {
    font-family: copperplate;
    background: #f59416;
    color: black;
    text-align: center;
}

.menu-toggle {
    background-color: orange;
    padding: 10px;
    cursor: grabbing;
    position: fixed;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 30px;
    border-radius: 8px;
    z-index: 900;

}
.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f59416;
    transition: left 0.3s ease-in-out;
}
.menu.active{
    left:0;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}
.menu li {
    padding: 15px;
    border-bottom: 1px solid black;
    cursor: cell;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: block;
  cursor: cell;
}

.menu li:hover {
  background-color: #f59416;
}
